@font-face {
	font-family: 'Quattrocento';
	font-weight: 400;
	font-style: normal;
	src: url('../assets/fonts/Quattrocento/Quattrocento-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Quattrocento';
	font-weight: 700;
	font-style: normal;
	src: url('../assets/fonts/Quattrocento/Quattrocento-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 300;
	font-style: normal;
	src: url('../assets/fonts/montserrat/Montserrat-Light.otf') format('opentype');
}
